:root {
  --main-color: #4285f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--main-color);
}
.wrapper {
  width: 500px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 15px;
  box-shadow: -12px 12px 2px 1px rgb(255 255 255 / 20%),
    12px -12px 2px 1px rgb(255 255 255 / 20%);
}
@media (max-width: 767px) {
  .wrapper {
    width: 400px;
  }
}
header h1 {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
}
header p {
  font-size: 18px;
  margin: 5px;
  text-align: center;
}
form {
  margin: 20px 0 27px;
}
form input {
  width: 100%;
  height: 60px;
  outline: none;
  border: 1px solid #b3b2b2;
  border-radius: 5px;
  font-size: 19px;
  padding: 0 17px;
}
form button {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 0;
  margin-top: 20px;
  background: var(--main-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  opacity: 0.7;
  pointer-events: none;
}
form input:valid ~ button {
  opacity: 1;
  pointer-events: auto;
}
